body {
    width: 350px;
    height: 350px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;

}

p {
    display: inline-flex;
    margin: auto 10px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 6px;
    padding: 10px;
    color: cornflowerblue;


}